{% extends 'base.html' %}

{% block meta %}
    {% load static %}
    <title>Django's Inventory | Edit Item</title>
    <link rel="stylesheet", href="{% static 'item.css' %}">
{% endblock meta %}

{% block content %}

<div class="container">
    <div class="item">
        <h1>Edit Item</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Edit Item"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %}