{% extends 'base.html' %}

{% block meta %}
    {% load static %}
    <title>Django's Inventory | Login</title>
    <link rel="stylesheet", href="{% static 'login.css' %}">
{% endblock meta %}

{% block content %}
<div class="container">
    <div class = "login">
        <h1><b>Login</b></h1>
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
                        <label for="floatingInput">Username</label>
                    </div>
                </tr>
                <tr>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                </tr>
                <tr>
                    <div class="row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-lg btn-outline-primary mb-3">Login</button>
                    </div>
                    </div>
                </tr>
            </table>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
    </div>
</div>
{% endblock content %}