{% extends 'base.html' %}

{% block meta %}
    {% load static %}
    <title>Django's Inventory</title>
    <link rel="stylesheet", href="{% static 'main.css' %}">
{% endblock meta %}

{% block content %}
<style>
    .card-body-limit {
        max-height: 200px;
        overflow: hidden;
    }
</style>

<div class="container" id="base">

    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Django's Inventory</span>
            <span class="navbar-text">{{ name }} | {{ class }}</span>
        </div>
        <form class="d-flex">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>
            <a href="{% url 'main:logout' %}">
                <button class="btn btn-danger me-2" type="button">Logout</button>
            </a>
        </form>
    </nav>

<table id="item_table"></table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="col-form-label">Category:</label>
                        <input type="text" class="form-control" id="category" name="category"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="discount" class="col-form-label">Discount:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_discount" id="inlineRadio1" value="True">
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_discount" id="inlineRadio2" value="False">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
            </div>
        </div>
    </div>
</div>

    <br>
    <h5>Last login session: {{ last_login }}</h5>
</div>

<script>
    async function getItems() {
        return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }

    async function refreshItems() {
        document.getElementById("item_table").innerHTML = ""
        const items = await getItems()
        let htmlString = `<div class="container" style:"justify-content: center; display: flex; width: full;">
            <div style="gap: 2rem; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">`
        items.forEach((item) => {
            htmlString += `\n<div>
                <div class="card ${ item.fields.is_discount ? "bg-danger" : "bg-info"}" style="width: 200px; height: 200px;">
                    <div class="card-body card-body-limit">
                        <h5 class="card-title">${item.fields.name} - ${item.fields.amount}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$ ${item.fields.price}</h6>
                        <p class="card-text">${item.fields.description}</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-secondary" onclick="decItem(${item.pk})">-</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="incItem(${item.pk})">+</button>
                        <button type="button" class="btn btn-danger" onclick="delItem(${item.pk})">Delete</button>
                    </div>
                </div>
            </div>` 
        })
        htmlString += '\n</div> \n</div>'
        
        document.getElementById("item_table").innerHTML = htmlString
    }

    refreshItems()

    function addItem() {
        fetch("{% url 'main:create_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }

    function delItem(id) {
        fetch("/delete-ajax/" + id,{
            method: "POST"
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }

    function incItem(id) {
        fetch("/increment-ajax/" + id,{
            method: "POST"
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }

    function decItem(id) {
        fetch("/decrement-ajax/" + id,{
            method: "POST"
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addItem
</script>
{% endblock content %}