{% extends 'base.html' %}

{% block meta %}
    {% load static %}
    <title>Django's Inventory</title>
    <link rel="stylesheet", href="{% static 'main.css' %}">
{% endblock meta %}

{% block content %}
<div class="container" id="base">

    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Django's Inventory</span>
            <span class="navbar-text">{{ name }} | {{ class }}</span>
        </div>
        <form class="d-flex">
            <a href="{% url 'main:logout' %}">
                <button class="btn btn-danger me-2" type="button">Logout</button>
            </a>
        </form>
    </nav>

<div class="row row-cols-1 row-cols-md-4 g-4">
{% for item in items %}
    <div class="col">
        <div class="card h-100 {% if forloop.last %}border-primary{% endif %}">
            <div class="card-body">
                <h5 class="card-title">{{item.name}} - {{item.amount}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">$ {{item.price}}</h6>
                <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'main:increment_item' item.pk %}">
                    <button type="button" class="btn btn-outline-secondary">
                        +
                    </button>
                </a>
                <a href="{% url 'main:decrement_item' item.pk %}">
                    <button type="button" class="btn btn-outline-secondary">
                        -
                    </button>
                </a>
                <a href="{% url 'main:edit_item' item.pk %}">
                    <button type="button" class="btn btn-outline-secondary">
                        Edit
                    </button>
                </a>
                <a href="{% url 'main:delete_item' item.pk %}">
                    <button type="button" class="btn btn-outline-primary">
                        Delete
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>


    <br />

    <a href="{% url 'main:create_item' %}">
        <button type="button" class="btn btn-primary mb-3">
            Add New Item
        </button>
    </a>

    <h5>Last login session: {{ last_login }}</h5>
</div>
{% endblock content %}